:root {
   --sidebarWidth: 260px;
   --narrowSidebarWidth: 120px;
}

.sidebar {
   position: fixed;
   width: var(--sidebarWidth);
   min-width: var(--sidebarWidth);
   color: #f9f9f9; /*#e1e2e3*/
   min-height: 100vh;
   text-align: left;
   font-size: .95rem;
   border-right: 2px solid #fff;
   padding-top: 0 80px 80px 80px;
   background-color: rgb(33,37,41);
   z-index: 100;
   transition: .3s;
}

.sidebar.sidebar-narrow{
   width: var(--narrowSidebarWidth);
   min-width: var(--narrowSidebarWidth);
   transition: .3s;
}