.content-wrapper{
    margin-left: var(--sidebarWidth);
    min-height: 100vh;
    overflow: hidden;
    text-align: left;
    transition: .3s ease;
    /* padding: 20px; */
}

.content-wrapper-narrow{
    margin-left: var(--narrowSidebarWidth);
    min-height: 100vh;
    overflow: hidden;
    text-align: left;
    transition: .3s ease;
    /* padding: 20px; */
}